{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
    <div class="w-50 mx-auto p-4">
        <h2>Correspondencia</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="w-100 d-flex justify-content-center">
                <a href="{% url 'detalle.texto' pk_texto %}" class="btn btn-secondary m-2 icon-link-hover icon-link" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                    <i class="bi fas fa-arrow-left"></i>Volver
                </a>
                <button type="submit" class="btn btn-primary m-2 icon-link-hover icon-link" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                    <i class="bi fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
{% endblock %}
